[Unit]
Description=fishtankup program service
After=multi-user.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/fishtank
ExecStart=/usr/bin/python3 /home/pi/fishtank/fishtank.py -n 'Upstairsfish' -s upfishtemp -i 54
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
