[Unit]
Description=fishtankup program service
After=multi-user.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/fishtank
ExecStart=/usr/bin/python3 /home/pi/fishtank/fishtank_v4.py -l 69.5 -u 79.5 -n 'Basementfish' -s downfishtemp -i 57
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
